body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #009871;
    text-align: center;
}
.card {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(151, 350, 150);    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.card img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
.info {
    text-align: center;
}
.info h1 {
    font-size: 25px;
    border-bottom: solid 1px #009871;
    padding-bottom: 10px;
    display: block;
}
.info h1:hover {
    cursor: pointer;
    color: #009871;
    border-bottom: solid 1px rgb(0, 0, 0);

}
.info p {
    font-size: 17px;
    text-align: center;
    margin: 10px 0 0 0;
}
.info span{
    font-size: 15px;
    display: inline-block;
    text-align: justify;
    margin: 10px 70px;
}
.social{
    margin: 20px 0 0 0;
    background-color: #cbebe3;
    border: solid 1px #b9b9b9;
}
.social img{
    margin: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}